services:
  _defaults:
    public: false
    autowire: true
    autoconfigure: true

  _instanceof:
    Elandlord\NatsPhp\Contract\Handler\EventHandlerInterface:
      tags: [ 'nats.event_handler' ]

  Elandlord\NatsPhpBundle\:
    resource: '../../*'
    exclude:
      - '../../DependencyInjection/'
      - '../../Resources/'
      - '../../Tests/'

  Elandlord\NatsPhpBundle\Config\NatsConfig:
    arguments:
      - '%nats_php.config%'

  Elandlord\NatsPhpBundle\Registry\EventHandlerRegistry:
    arguments:
      - !tagged_iterator 'nats.event_handler'

  Elandlord\NatsPhpBundle\Registry\ConsumerRegistry:
    arguments:
      - '%nats_php.consumer_definitions%'

  Elandlord\NatsPhpBundle\Consumer\SymfonyEventConsumerFactory: ~

  Elandlord\NatsPhpBundle\Messaging\EventEnvelopeFactory: ~

  Elandlord\NatsPhpBundle\Command\NatsListConsumersCommand:
    arguments:
      $eventMap: '%nats_php.event_map%'
    tags:
      - { name: 'console.command' }

  Elandlord\NatsPhpBundle\Messenger\Transport\NatsTransportFactory:
    arguments:
      $eventMap: '%nats_php.event_map%'
    tags:
      - { name: 'messenger.transport_factory' }